#readme > article > * {
  margin: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#readme > article > ul {
  margin-left: 3rem;
}

a {
  text-decoration: none;
}

.AddonLogo {
  max-width: 100px;
}
