.CarouselCard {
  padding: 10px 0 30px 30px;
}

.CarouselContainer {
  overflow: hidden;
}

.react-multiple-carousel__arrow {
  min-width: 20px;
}

.react-multiple-carousel__arrow--right {
  right: 0;
  top: 90px;
}

.react-multiple-carousel__arrow--left {
  left: 9px;
  top: 90px;
}

.StatsBox {
  background-color: gainsboro;
}
